<!DOCTYPE html>
<html lang="hu" layout:decorator="main/layout">

<head>
</head>

<body>
	<div layout:fragment="main">
		
		<div class="ui">
	
<!-- 			<div class="left-menu"> -->
			
				<div id="leftpanel">
					<p>Az ismerőseid:</p>
					<ul>
						<li>
							<p>Zsigmond Péter
								<br />
								<br />
								<div class='sz_email'>zspeti02@gmail.com</div>
							</p>
						</li>					
					</ul>
				</div>
<!-- 			</div> -->
	
			<div class="chat">
	
				<div class="top">
	
					<div class="info">
						<div class="name">Válassz chat partnert!</div>
					</div>
	
				</div>
	
				<ul class="messages">
	
				</ul>
	
				<div class="write-form">
					<textarea placeholder="Írj üzenetet..." name="e" id="texxt" rows="2"></textarea>
					<span class="send">Küld</span>
				</div>
			</div>
		</div>
		
		<p id="active" style="visibility:hidden">chat</p>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.min.js'></script>
    <script src="js/main.js"></script>
    
    </div>

</body>

</html>