<!DOCTYPE html>
<html lang="hu" layout:decorator="main/layout">

<head>
</head>

<body>
	<div layout:fragment="main">
	
		<div id="kapcsolatok">
		
			<h1 th:text="${hiba}"></h1>
			<form th:action="@{/kapcsolatok}" method="post">
				E-mail címe, akit fel akarsz venni:<input name="email" type="email" required="true" autocomplete="off" autofocus="true"/>
				<button>Ok</button>
			</form>
		
			<br />
			<br />
			<br />
			<br />
		
			<table>
				<tr>
					<th>Emberek akiknek már elküldted a meghívódat, de még nem
						erősítették meg:</th>
				</tr>
				<tr th:each="user : ${requested}">
					<td th:text="${user.email}"></td>
				</tr>
			</table>
		
			<br />
			<br />
			<br />
			<br />
		
			<p style="font-weight: bold;">Emberek, akik a visszaigazolásodra
				várnak:</p>
		
			<ul
				style="list-style-type: none; list-style-type: none; margin: 0; padding: 0;">
				<li th:each="user : ${waitsForMe}">
					<form th:action="@{/kapcsolatok}" method="post">
						<span th:text="${user.email}"></span> <input type="hidden"
							name="email" th:value="${user.email}" /> <input type="submit"
							value="Visszaigazolás" />
					</form> <br />
				</li>
			</ul>
		</div>
		
		<p id="active" style="visibility:hidden">relationships</p>
	</div>
	
</body>
</html>