<!DOCTYPE html>
<html lang="hu" layout:decorator="index/layout">

<head>
   
</head>

<body>

  <div class="form" layout:fragment="index">
      
      <h1 th:text="${msg}"></h1>
      
      <ul class="tab-group">
		<li class="tab"><a href="bejelentkezes">Bejelentkezés</a></li>
        <li class="tab active"><a href="regisztracio">Regisztráció</a></li>        
      </ul>
		
		<div id="signup">   
          <h1>Kérlek add meg az adataidat!</h1>
          
          <form th:action="@{/regisztracio}" th:object="${user}" method="POST">
          
          
            <div class="field-wrap">
              <label>
                E-mail cím<span class="req">*</span>
              </label>
              <input type="email" id="email" th:field="*{email}" required="true" autocomplete="off" autofocus="true"/>
            </div>
            
            <div class="field-wrap">
              <label>
                E-mail cím megerősítése<span class="req">*</span>
              </label>
              <input type="email" id="confirm_email" required="true" autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Felhasználónév<span class="req">*</span>
              </label>
              <input type="text" th:field="*{name}" required="true" autocomplete="off" />
            </div>          

          <div class="field-wrap">
            <label>
              Jelszó<span class="req">*</span>
            </label>
            <input type="password" id="password" th:field="*{password}" required="true" autocomplete="off" />
          </div>
          
          <div class="field-wrap">
            <label>
              Jelszó megerősítése<span class="req">*</span>
            </label>
            <input type="password" id="confirm_password" required="true" autocomplete="off" />
          </div>
          
          <button type="submit" class="button button-block">Regisztráció</button>
          
          </form>

        </div>
      
      	<script src="js/registration.js"></script>
	</div>

</body>

</html>